.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #545c64;
  height: 70px;
  min-width: 100%;
}
.el-menu {
  border-right: 0;
  height: inherit;
  flex-grow: 1;
}
.login-regiser-cart {
  width: auto;
  /* overflow: hidden; */
  /* flex-grow: 1; */
  display: flex;
  justify-content: end;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 20px;
}
.hello-user {
  color: aliceblue;
  font-weight: bold;
  margin-right: 10px;
}
